.containerLandingPage{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 90px;
  overflow-x: hidden;
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
